@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-emerald-accent: #10b981;
  --color-background-light: #F9FAFB;
  --color-background-dark: #101922;
  --font-display: "Inter", sans-serif;
}